@media (max-width: 767px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        padding-top: 238px;
    }

    .header__section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__tittle {
        font-size: 32px;
        line-height: 39px;
        text-align: center;
    }

    .header__text {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 32px;
    }

    .header__button {
        display: block;
        margin: auto;

    }

    .mid {
        height: 1221px;
    }

    
    .mid__choice {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(4, 1fr);
    }

    .mid__game {
        grid-column: span 4;
        width: 343px;
        height: 300px;    
    }
}