* {
    margin: 0;
    padding: 0;
  }

  body, button {
    font-family: "Montserrat", sans-serif;
  }

  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    
  }

  .header {
    height: 1024px;
    background-image: url(Img/Tittle\ head.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 217.1px;
    
  }

  .header__tittle {
    font-weight:788.78px;
    font-size: 64px;
    line-height: 78.02px;
    color:  #FFFFFF;
    
  }

  .header__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: gray;
    padding-top: 32px;
  }

  .header__text_word {
    font-weight: 700;
    color: #FFFFFF;
  }

  .header__button {
    background:#9C0332;
    border: none;
    box-sizing: border-box;
    width: 234.06px;
    height: 48.6px;
    font-size: 18px;
    line-height: 21.94px;
    color: #FFFFFF;
    padding-left: 74.03px;
    padding-right: 74.03px;
    font-weight: 400;
    margin-top: 44px;
    border-radius: 30px;
    transition: background-color 0.3s ease-in;

    &:hover {
      background: #eb443f;
    }
  }

  .mid {
    height: 556px;
    background-image: url(Img/Mid.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 128px;
    
  }

  .mid__choice {
   display: grid;
   gap: 32px;
   grid-template-columns: repeat(12, 1fr);
   padding-bottom: 128px;
   
  }

  .mid__game {
    width: 379px;
    height: 300px;
    transition: border 0.2s ease-in;
    box-sizing: border-box;
    &:hover {
    outline: 3px solid #44d2ff;
    }
  }

  .game {
    position: relative;
  }

  .game__name {
    left: 32px;
    bottom: 32px;
    size: 24px;
    position: absolute;
    color: #FFFFFF;
  }

  .mid__img {
   display: flex;
   border: none;
   border-radius: 20px;
   width: 378px;
   height: 300px;
   grid-column: span 4;
  }

  .section {
    height: 800px;
    background-image: url(Img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 282px;
    display: flex;
    gap: 135px;
    align-items: center;

    &__heading {
      display: flex;
      width: 584px;
      padding: 33px 0px 45px 0px;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      
      &_tittle {
        color: #fff;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      &_text {
        color: #fff;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
      }

      &_button{
        width: 234.063px;
        height: 48.603px;
        border-radius: 30px;
        background: #9c0332;
        color: #fff;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: background-color 0.3s ease-in;
        border: none;

        &:hover {
          background: #eb443f;
        }
      }
      &_img{
        box-sizing: border-box;
        width: 485px;
        height: 333px;
      }
    }
  }

  @import 'mobile';